**Looking Over the full list of names from original_names**

In [1]:
#packages needed
import csv
import pandas as pd
import numpy as np
import ast

In [67]:
with open("nameOneIDs.csv", encoding="latin-1") as fileToRead:
    csvReader = csv.DictReader(fileToRead)   # create reader object
    rows = [row for row in csvReader]        # do the reading of each row

print(len(rows))
#for row in rows:
    #print(row)

993

In [71]:
df = pd.DataFrame(data=rows)
df.columns
df.describe()

                 Name                     ID
count             993                    993
unique            993                    992
top     Yale Nemerson  ['ur.01335645364.68']
freq                1                      2

In [34]:
df2.head()
# df2['email_affiliation'].describe()
# bject = df2.duplicated()
# for o in bject:
#     if o == True:
#         print('Duplicate found')

,year,first_name,middle_name,last_name,affiliation,original specialization,modified specializationmemoriam,email_affiliation,related_aff,umbrella_spec,
0,1969,Thomas,N,James,[],[],[],"['ASCI', 'AAP']",[],[],
1,1969,Simon,,Karpatkin,[],[],[],"['ASCI', 'AAP']",[],[],
2,1969,Philip,W.,Majerus,[],[],[],"['ASCI', 'AAP']",[],[],
3,1969,Ralph,L.,Nachman,['Weill Cornell Medical College'],"['Oncology', 'Hematology', 'Administration']",['Hematology'],"['ASCI', 'AAP']",[],[],
4,1969,Yale,,Nemerson,[],[],[],"['ASCI', 'AAP']",[],[],

In [4]:
# Function to check if a value is missing or an empty list
def is_missing_or_empty(value):
    return pd.isna(value) or (isinstance(value, str) and (value.strip() == "[]" or value.strip() == ""))

# Apply the function to each element in the DataFrame
missing_values_count = df2.applymap(is_missing_or_empty).sum()

# Print the result
print(missing_values_count)

year                                  0
first_name                            0
middle_name                        1493
last_name                             0
affiliation                         818
original specialization             732
modified specializationmemoriam    1265
email_affiliation                     0
related_aff                        3234
umbrella_spec                      3234
                                   4214
dtype: int64

#### Now I will be using the edited list of names that only have one username in Dimensions and OpenAlex

In [53]:
df = pd.DataFrame(data=rows)
#print(df['year'].unique())

twentyten_df = df[df['year'] == '2010']
nineteenninety_df = df[df['year'] == '1990']
bothYears_df = df[df['year'].isin(['2010', '1990'])]


print(f'Number of 2010 inductees: {len(twentyten_df)}')
print(f'Number of 1990 inductees: {len(nineteenninety_df)}')
print(f'Total number of people from both years: {len(bothYears_df)}')

Number of 2010 inductees: 68
Number of 1990 inductees: 73
Total number of people from both years: 141

In [54]:
#get associations
email_affiliation_counts = bothYears_df['email_affiliation'].value_counts()
print(email_affiliation_counts)

['ASCI']           125
['ASCI', 'AAP']     16
Name: email_affiliation, dtype: int64

In [64]:
#names of bothYears
all_names = bothYears_df['first_name'] + ' ' + bothYears_df['last_name']
#print(len(all_names))
all_names = bothYears_df['first_name'] + ' ' + bothYears_df['last_name']
all_names = all_names.rename('full_name')  
bothYears_df['full_name'] = all_names

C:\Users\ashle\AppData\Local\Temp\ipykernel_10292\2744919398.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bothYears_df['full_name'] = all_names

In [66]:
merged_df = pd.merge(all_names.to_frame(), bothYears_df, how='inner', left_on='full_name', right_on='full_name')
print(merged_df)
merged_df.to_csv('merged_data.csv', index=False)

                 full_name  year   first_name middle_name  last_name  \
0             Hanna Abboud  1990        Hanna          E.     Abboud
1               John Adams  1990         John          S.      Adams
2          Andrew Feinberg  1990       Andrew          P.   Feinberg
3            David Gardner  1990        David          G.    Gardner
4               J. Jameson  1990           J.       Larry    Jameson
..                     ...   ...          ...         ...        ...
136  Constantine Stratakis  2010  Constantine              Stratakis
137           John Tisdale  2010         John          F.    Tisdale
138            Thomas Wang  2010       Thomas          J.       Wang
139             Myles Wolf  2010        Myles                   Wolf
140                Alan Yu  2010         Alan       S. L.         Yu

                                           affiliation  \
0                                                   []
1    ['University of California, Los Angeles, David...
2      ['Johns Hopkins University School of Medicine']
3    ['University of California, San Francisco, Sch...
4    ['University of Pennsylvania Perelman School o...
..                                                 ...
136  ['NIH, Eunice Kennedy Shriver National Institu...
137  ['NIH, National Institute of Diabetes and Dige...
138  ['University of Texas Southwestern Medical Cen...
139             ['Duke University School of Medicine']
140        ['University of Kansas School of Medicine']

                               original specialization  \
0                                                   []
1    ['Genetics', 'Biochemistry', 'Molecular Biolog...
2    ['Genetics', 'Molecular Biology', 'Internal Me...
3                                                   []
4    ['Genetics', 'Biochemistry', 'Molecular Biolog...
..                                                 ...
136        ['Endocrinology', 'Pediatrics', 'Genetics']
137                              ['Internal Medicine']
138  ['Cardiovascular Disease', 'Internal Medicine'...
139                                     ['Nephrology']
140                            ['Laboratory Medicine']

                       modified specializationmemoriam email_affiliation  \
0                                                   []   ['ASCI', 'AAP']
1          ['Genetics', 'Metabolism', 'Endocrinology']   ['ASCI', 'AAP']
2                    ['Genetics', 'Internal Medicine']   ['ASCI', 'AAP']
3                                                   []   ['ASCI', 'AAP']
4    ['Genetics', 'Internal Medicine', 'Endocrinolo...   ['ASCI', 'AAP']
..                                                 ...               ...
136        ['Endocrinology', 'Pediatrics', 'Genetics']          ['ASCI']
137                              ['Internal Medicine']          ['ASCI']
138  ['Cardiovascular Disease', 'Internal Medicine'...          ['ASCI']
139                                     ['Nephrology']          ['ASCI']
140                            ['Laboratory Medicine']          ['ASCI']

                                  related_aff  \
0                                          []
1                                          []
2    ['Johns Hopkins University Affiliates*']
3                                          []
4                                          []
..                                        ...
136                       ['NIH Affiliates*']
137                       ['NIH Affiliates*']
138                                        []
139           ['Duke University Affiliates*']
140                                        []

                                         umbrella_spec
0                                                   []
1                                                   []
2    ['Johns Hopkins Bloomberg School of Public Hea...
3                                                   []
4                                                   []
..                                                 ... ..
136  ['NIH, Eunice Kennedy Shriver National Institu...
137  ['NIH, Eunice Kennedy Shriver National Institu...
138                                                 []
139  ['Duke University and Health System', 'Duke Un...
140                                                 []

[141 rows x 12 columns]