**Looking Over the full list of names from original_names**

In [30]:
#packages needed
import csv
import pandas as pd
import numpy as np
import ast

In [11]:
with open("original_names.csv", encoding="latin-1") as fileToRead:
    csvReader = csv.DictReader(fileToRead)   # create reader object
    rows = [row for row in csvReader]        # do the reading of each row

print(len(rows))
#for row in rows:
    #print(row)

4216

In [28]:
df2 = pd.DataFrame(data=rows)
df2.columns
df2.describe()

,year,first_name,middle_name,last_name,affiliation,original specialization,modified specializationmemoriam,email_affiliation,related_aff,umbrella_spec,
0,1969,Thomas,N,James,[],[],[],"['ASCI', 'AAP']",[],[],
1,1969,Simon,,Karpatkin,[],[],[],"['ASCI', 'AAP']",[],[],
2,1969,Philip,W.,Majerus,[],[],[],"['ASCI', 'AAP']",[],[],
3,1969,Ralph,L.,Nachman,['Weill Cornell Medical College'],"['Oncology', 'Hematology', 'Administration']",['Hematology'],"['ASCI', 'AAP']",[],[],
4,1969,Yale,,Nemerson,[],[],[],"['ASCI', 'AAP']",[],[],

In [34]:
df2.head()
# df2['email_affiliation'].describe()
# bject = df2.duplicated()
# for o in bject:
#     if o == True:
#         print('Duplicate found')

,year,first_name,middle_name,last_name,affiliation,original specialization,modified specializationmemoriam,email_affiliation,related_aff,umbrella_spec,
0,1969,Thomas,N,James,[],[],[],"['ASCI', 'AAP']",[],[],
1,1969,Simon,,Karpatkin,[],[],[],"['ASCI', 'AAP']",[],[],
2,1969,Philip,W.,Majerus,[],[],[],"['ASCI', 'AAP']",[],[],
3,1969,Ralph,L.,Nachman,['Weill Cornell Medical College'],"['Oncology', 'Hematology', 'Administration']",['Hematology'],"['ASCI', 'AAP']",[],[],
4,1969,Yale,,Nemerson,[],[],[],"['ASCI', 'AAP']",[],[],

In [33]:
# Function to check if a value is missing or an empty list
def is_missing_or_empty(value):
    return pd.isna(value) or (isinstance(value, str) and (value.strip() == "[]" or value.strip() == ""))

# Apply the function to each element in the DataFrame
missing_values_count = df2.applymap(is_missing_or_empty).sum()

# Print the result
print(missing_values_count)

year                                  0
first_name                            0
middle_name                        1493
last_name                             0
affiliation                         818
original specialization             732
modified specializationmemoriam    1265
email_affiliation                     0
related_aff                        3234
umbrella_spec                      3234
                                   4214
dtype: int64